:root {
    --bg-color: #af0;
    --scope-color: #ff0;
    --border-color: rgba(127, 127, 255, .4);
    --bg-and-section-bg-color: #77b3d9;
    --envelope-circle-color: #000;
    --envelope-line-color: #000;
    --key-color-light: #fff;
    --key-color-dark: #000;
    --key-color-down: #afe;
    --key-color-dropped: #888;
    --key-color-stroke: #000;
    --waveform-selector-phase-indicator-color: #fff;
}

$bg-color: #af0;
$scope-color: #ff0;

$border-color: rgba(127, 127, 255, 0.4);
$bg-and-section-bg-color: #77b3d9;
$envelope-circle-color: #000;
$envelope-line-color: #000;

$key-color-white: #fff;
$key-color-black: #000;
$key-color-down: #afe;
$key-color-dropped: #888;
$key-stroke-color: #000;
$waveform-selector-phase-indicator-color: #fff;
