.steps {
    .step {
        border: none;
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: center;
        width: auto;

        &-delete {
            cursor: pointer;
            padding: 0;
        }

        .flex-wrapper {
            flex-direction: column;
        }

        legend,
        .label-text {
            @extend %squish-text;
        }
    }
}
