$border-color: rgba(127,127,255,.4);
$bg-and-section-bg-color: #77B3D9;
$padding-section-top: 1.2rem;
$padding-section-bottom: .5rem;
$padding-section-sides: 1rem;
$keyboard-section-height: 20vh;

%squish-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

%unsquish-text {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
}

* {
    box-sizing: border-box;
}
body {
    background-color: #aff;
}
button {
    min-height: 3em;
}

section {
    border: 3px solid $border-color;
    border-radius: .5em;
    margin: 2em 1em;
    padding: $padding-section-top $padding-section-sides $padding-section-bottom;
    position: relative;
    background-image: -webkit-linear-gradient(left bottom, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-color: rgba(2,0,127,.3);
    display: inline-block;
}
/*
#oscilloscope {
    width: 100vw;
    height: 50vh;
}
*/
label {
    display: inline-block;
}
fieldset {
    display: inline-block;
}

#kaci {
    margin-bottom: 20vh;
}
.blink {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.controller .lines {
    stroke-width: 3;
    stroke: black;
}
$envelope-circle-radius: 10;
$envelope-circle-radius-active: 30;
$envelope-circle-color: black;
.envelope {
    .circles {
        .active {
            cursor: move;
            r: $envelope-circle-radius-active;
            opacity: .5;

            &.first,
            &.last {
                cursor: ns-resize;
            }

        }

        circle {
            r: $envelope-circle-radius;
            transition-property: r;
            transition-duration: .2s;
            transition-timing-function: easeOutElastic;
            cursor: grab;

        }
    }
    rect {
        cursor: crosshair;
    }
}
.sustain-envelope {
    padding: 30px;
    margin: -20px;
    width: calc(100% - 20px);
    box-sizing: content-box;

    .controller {
        overflow: visible;
    }

}
.sustain-bar {
    stroke: $envelope-circle-color;
    stroke-width: $envelope-circle-radius * 2;
    stroke-linecap: round;
    cursor: grab;

    &.active {
        stroke-width: $envelope-circle-radius-active * 2;
        cursor: ns-resize;
    }
}

.waveform {
    &-selector {
        .flex-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            > label {
                $button-bevel-shadow: 4px 4px 12px 1px rgba(255,255,255,1) inset, 0 0 9px 1px rgba(0,0,0,0.5) inset;

                background-color: #eef;
                border-radius: .5em;
                border: none;
                box-shadow: $button-bevel-shadow, 2px 2px 8px rgba(0,0,0,.4);
                display: inline-block;
                margin: .3em;
                text-align: center;
                transition: all 50ms ease-in;
                transform: translateY(0);

                &:active {
                    box-shadow: $button-bevel-shadow;
                    transform: translateY(1px);
                }

                br,
                input {
                    display: none;
                }

                canvas {
                    margin: .2em;
                }

                :checked ~ canvas {
                    box-shadow: -0.6em 1em 0.7em -0.7em #fff inset, 1em -0.6em 0.7em -0.8em #fff inset;
                    background: rgba(30,249,255, 0.9);
                }
            }
        }
    }

    &-name {
        @extend %squish-text;
    }
}
.keyboard.controller {
    background-color: $bg-and-section-bg-color;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    bottom: 0;
    height: $keyboard-section-height;
    left: 0;
    margin-bottom: 0;
    padding-left: 5rem;
    position: fixed;
    right: 0;
    width: calc(100vw - 2rem);
    z-index: 10;

    .keys {
        border-right: 1px solid black;
        height: 100%;
    }

    .sliders {
        position: absolute;
        transform: translateX(2rem) rotateZ(-90deg);
        transform-origin: bottom left;
        bottom: $padding-section-bottom;
        left: 1rem;

        [for] {
            @extend %squish-text;
        }
    }

    [type="range"] {
        width: calc(#{$keyboard-section-height} - #{$padding-section-top} - #{$padding-section-bottom});
        height: 1rem;

        &:hover,
        &:focus {
            + [for] {
                @extend %unsquish-text;
                transform: rotate(90deg);
                transform-origin: left bottom;
                background-color: $bg-and-section-bg-color;
                bottom: 100%;
            }
        }
    }
}
.black {
    fill: #000;
}
.white {
    fill: #fff;
}
.key {
    stroke: #000;

    &.down {
        fill: #afe;
    }
    &.dropped {
        fill: #888;
    }
}
.oscillator-pd-view {
    position: relative;
    display: inline-block;
    z-index: 1;
    canvas {
        z-index: -1;
        position: absolute;
    }
}
.oscillator-mix-view,
.oscillator-resonance-view {
    position: relative;
    display: inline-block;
    padding-top: 2rem;
    [type='range'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    [type='range'] + label {
        position: absolute;
        top: 1.3rem;
    }
    fieldset {
        display: block;
    }
}

body {
    padding: 2rem;
}
.modulation-matrix {
    tbody {
        &:nth-of-type(odd) {
            background: rgba(255,255,0,.5);
        }
        &:nth-of-type(even) {
            background: rgba(255, 150, 0, .5);
        }
    }
    th[scope='rowgroup'] {
        margin: 3px;
        position: relative;
        overflow: visible;
        padding: .5em;
        min-height: 1em;
        &,
        span {
            -webkit-writing-mode: vertical-lr;
            writing-mode: vertical-lr;
        }
    }
    col {
        &:nth-of-type(2n) {
            background-color: rgba(0,0,0,.3);
        }
        &:nth-of-type(3n) {
            background-color: rgba(255,0,0,.3);
        }
    }
    label {
        font-size: 0;
        line-height: 0;
        color: transparent;
    }
    td {
        padding: .5em;
    }
    [type='range'] {
        width: 3em;
    }
}
