$border-color: rgba(127, 127, 255, 0.4);
$bg-and-section-bg-color: #77b3d9;
$padding-section-top: 1.2rem;
$padding-section-bottom: 0.5rem;
$padding-section-sides: 1rem;
$keyboard-section-height: 20vh;

$bg-color: #aff;
$scope-color: #ff0;

$envelope-circle-radius: 10;
$envelope-circle-radius-active: 30;
$envelope-circle-color: #000;
$envelope-line-color: #000;

$key-color-white: #fff;
$key-color-black: #000;
$key-color-down: #afe;
$key-color-dropped: #888;
$key-stroke-color: #000;

$waveform-selector-phase-indicator-color: #fff;

%squish-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

%unsquish-text {
    clip: auto;
    height: auto;
    overflow: visible;
    width: auto;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    padding: 2rem;
}

button {
    min-height: 3em;

    .keys & {
        min-height: auto;
    }
}

section {
    background-color: rgba(2, 0, 127, 0.3);
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border: 3px solid $border-color;
    border-radius: 0.5em;
    display: inline-block;
    margin: 2em 1em;
    padding: $padding-section-top $padding-section-sides $padding-section-bottom;
    position: relative;
}

.oscilloscope {
    background-color: $scope-color;
    height: 25vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 25vw;
}

label {
    display: inline-block;
}

fieldset {
    display: inline-block;
}

.kaci-wrapper {
    margin-bottom: 20vh;
}

.blink {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.controller .lines {
    stroke: $envelope-line-color;
    stroke-width: 3;
}

@keyframes phase-indicator {
    0% {
        clip-path: inset(0 46px 0 0);
    }

    100% {
        clip-path: inset(0 0 0 46px);
    }
}

.flex-wrapper {
    display: flex;
    position: relative;
}

@import "envelope";
@import "waveform";
@import "keyboard";
@import "chord-shift";
@import "oscillator";
@import "modulation-matrix";
@import "morse";
@import "steps";
@import "lfos";
