$border-color: rgba(127,127,255,.4);
$bg-and-section-bg-color: #77B3D9;
$padding-section-top: 1.2rem;
$padding-section-bottom: .5rem;
$padding-section-sides: 1rem;
$keyboard-section-height: 20vh;

* {
    box-sizing: border-box;
}
body {
    background-color: #aff;
}
button {
    min-height: 3em;
}
section {
    border: 3px solid $border-color;
    border-radius: .5em;
    margin: 2em 1em;
    padding: $padding-section-top $padding-section-sides $padding-section-bottom;
    position: relative;
    background-image: -webkit-linear-gradient(left bottom, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-color: rgba(2,0,127,.3);
    display: inline-block;
}
/*
#oscilloscope {
    width: 100vw;
    height: 50vh;
}
*/
label {
    display: inline-block;
}
fieldset {
    display: inline-block;
}
#keyboard-view {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: $bg-and-section-bg-color;
    height: $keyboard-section-height;
    position: fixed;
    margin-bottom: 0;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 5rem;

    [type="range"] {
        width: calc(#{$keyboard-section-height} - #{$padding-section-top} - #{$padding-section-bottom});
        transform: translateX(1rem) rotateZ(-90deg);
        transform-origin: bottom left;
        height: 1rem;
        position: absolute;
        bottom: $padding-section-bottom;
        left: 1rem;

        ~ [type="range"] {
            left: 3rem;
        }
    }

    ~ section:last-of-type {
        margin-bottom: 20vh;
    }
}

.blink {
    display: inline-block;
    height: 30px;
    width: 30px;
}
.controller .lines {
    stroke-width: 3;
    stroke: black;
}
$envelope-circle-radius: 10;
$envelope-circle-radius-active: 30;
$envelope-circle-color: black;
.envelope {
    .circles {
        .active {
            cursor: move;
            r: $envelope-circle-radius-active;
            opacity: .5;

            &.first,
            &.last {
                cursor: ns-resize;
            }

        }

        circle {
            r: $envelope-circle-radius;
            transition-property: r;
            transition-duration: .2s;
            transition-timing-function: easeOutElastic;
            cursor: grab;

        }
    }
    rect {
        cursor: crosshair;
    }
}
.sustain-envelope {
    padding: 30px;
    margin: -20px;
    width: calc(100% - 20px);
    box-sizing: content-box;

    .controller {
        overflow: visible;
    }

}
.sustain-bar {
    stroke: $envelope-circle-color;
    stroke-width: $envelope-circle-radius * 2;
    stroke-linecap: round;
    cursor: grab;

    &.active {
        stroke-width: $envelope-circle-radius-active * 2;
        cursor: ns-resize;
    }
}

.keyboard.controller {
    width: 100%;
    height: 100%;
}
.key {
    stroke: #000;
}
.black {
    fill: #000;
}
.white {
    fill: #fff;
}
.pressed {
    fill: #afe;
}
.dropped {
    fill: #888;
}
.oscillator-pd-view {
    position: relative;
    display: inline-block;
    z-index: 1;
    canvas {
        z-index: -1;
        position: absolute;
    }
}
.oscillator-mix-view,
.oscillator-resonance-view {
    position: relative;
    display: inline-block;
    padding-top: 2rem;
    [type='range'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    [type='range'] + label {
        position: absolute;
        top: 1.3rem;
    }
    fieldset {
        display: block;
    }
}
.keyboard.controller {
    border-right: 1px solid black;
}
body {
    padding: 2rem;
}
.modulation-matrix {
    tbody {
        &:nth-of-type(odd) {
            background: rgba(255,255,0,.5);
        }
        &:nth-of-type(even) {
            background: rgba(255, 150, 0, .5);
        }
    }
    th[scope='rowgroup'] {
        margin: 3px;
        position: relative;
        overflow: visible;
        padding: .5em;
        min-height: 1em;
        &,
        span {
            -webkit-writing-mode: vertical-lr;
            writing-mode: vertical-lr;
        }
    }
    col {
        &:nth-of-type(2n) {
            background-color: rgba(0,0,0,.3);
        }
        &:nth-of-type(3n) {
            background-color: rgba(255,0,0,.3);
        }
    }
    label {
        font-size: 0;
        line-height: 0;
        color: transparent;
    }
    td {
        padding: .5em;
    }
    [type='range'] {
        width: 3em;
    }
}