{
    "plugins": [
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-async-generator-functions",
        "@babel/plugin-proposal-decorators",
        ["@babel/plugin-proposal-class-properties", {
            "loose" : true 
        }],
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-regenerator"
    ],
    "presets": [
        "@babel/preset-stage-1",
        ["@babel/preset-env", {
            "targets": {
                "browsers": [
                    "last 2 versions",
                    "not last 2 ie versions",
                    "not last 2 ie_mob versions"
                ]
            },
            "useBuiltIns": false,
            "debug": false,
            "modules": false
        }],
        "@babel/preset-react"
    ],
	"env": {
		"production": {
			"plugins": [
				"@babel/plugin-transform-react-constant-elements"
			]
		}
	}
}